@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}
li {
  list-style: none;
  font-size: 24px;
  text-transform: capitalize;
}


#author {
  width: 60px;
  object-fit: contain;
}

img#author {
  border-radius: 100%;
  object-fit: contain;
}
